#############
## Python
#############
*.py[cod]
.pyc
# Packages
*.egg
*.egg-info
/*.pyc
build/
eggs/
parts/
.idea/
.idea
var/
sdist/
develop-eggs/
.installed.cfg

__pycache__/
__pycache__
/__pycache__
*/__pycache__
*/__pycache__/*

# Installer logs
pip-log.txt

*/node_modules/*
/node_modules/*
/venv/*
venv/*
.vscode/*
/config/user/*.json

*.old
*.env
yarn.lock
db.sqlite3
logs_db.sqlite3
webpack-stats-local.json
webpack-stats-production.json

## Ignore everything inside static folder but the login and vendor folders
## This is needed to avoid stash all changes once collectstatic has been executed in server
static/*
static/bundles/
!static/login/
!static/vendor/

## Ignore local migrations as they mess up with server migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py

##Daphnee
daphne.sock
daphne.sock.lock

##Celery
celerybeat.pid
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir


##Media
media/avatars/**
media/keys/**
media/Imagenes
media/Imagenes/**
media/productImages/**
media/logos/**

##xmls digital invoicing
media/electronic_bills/**
media/electronic_tickets/**
media/certificates/**
media/productImages/old**
media/reports/**
media/logos/**

celerybeat-schedule.bak

#ignore certificates
*.p12

#ignore electronic documents xmls
media/electronic_bills/**
media/electronic_tickets/**