
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <meta name="description" content="Interdev">
    <meta name="author" content="Emanuel Zuniga Infante">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>
<body>

    <h1>SERVIDOR SUSPENDIDO!</h1>
        <h2>La fecha de pago l&iacute;mite expiro.</h2>
        <p>Si est&aacute; viendo esta p&aacute;gina significa que se ha incumplido el pago de los servicios de Hosting de su servidor.</p>
        <h2>Pasos a seguir:</h2>
        <ol>
        <li>Ponerse en contacto con el administrador del sistema.</li>
        <li>Realizar un pago para cubrir la(s) mensualidad(es) Pendiente(s) y la multa de reconexi&oacute;n por 15USD.</li>
        <li>Agendar apropiadamente el pr&oacute;ximo pago para evitar inconvenientes.</li>
        <li>Esperar a que la conexi&oacute;n sea reahabiliata, t&iacute;picamente de 12-48h.</li>
        </ol>
        <h2>&nbsp;</h2>
    <p><strong>&nbsp;</strong></p>

</body>

</html>
